#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-size: calc(8pt + 1vw);
  color: rgb(31, 31, 31);
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.horizontal{
  display: flex;
  flex-direction: row;
  width: 100;
  height: 30rem;
  border: 1px solid black;
}

.vertical{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header{
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.actCard{
  background-color: rgb(255, 255, 255);
  width: 14em;
  color: rgb(31, 31, 31);
  font-size: .75em;
  line-height: 2%;
  margin: .5em;
  padding: .5em;
}

.cardSearch{
  flex-grow: 1;
  background-color: lightgreen;
  overflow-y: scroll;
}

table {
  width: 90%;
  font-size: .5em;
  color: rgb(31, 31, 31);
  padding: 2em;
}

.navlinks {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2.75em;
  font-size: .5em;
  font-weight: 500;
  color: rgb(66, 66, 66);
  max-width: 60em;
  padding: 0;
  border-bottom: solid 1px black;
}

.navlinks-flex {
  flex-grow: 1;
  padding: 0 .1em;
  cursor: pointer;
}

.navlink-border {
  color: black;
  font-weight: 800;
}


/* fonts and texts */

.small-text {font-size: .7em}

.bold {font-weight: 500}

h4 {font-size: .75em;}

h5 {font-size: .65em; font-weight: 500;}

.underline-text {
  text-decoration: underline;
}

/* STUFF FOR PSA TILE */

.psa{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap:.75em;
  max-width: 500em;
  margin: auto;
}


/*STUFF FOR PSA TILE WITH GRID*/

.card-container{
  display: grid;
  grid-template-columns: 2em 2em 2em 2em;
  column-gap: 1em;
  grid-template-rows:1em 1em 1em 1em 1em 1em 1em 1em;
  row-gap: auto;
  background-color:rgb(255, 255, 255);
  border: .1em solid;
  border-radius:.8em;
  border-color: rgb(0, 0, 0);
  height: 7.5em;
  color: black;
  width: 12em;
  justify-content: center;
  }



.card-grid {
color: rgb(0, 0, 0);
}

.item-1 {
grid-column-start: 1;
grid-row-start: 1;
font-size: .6em;
font-weight: 500;
}

.item-2 {
  grid-column-start: 1;
  grid-row-start: 2;
  font-size: 1.5em;
  font-weight: 600;
  align-self: center;
}

.item-3 {
  color: rgb(103, 178, 105);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
  color: rgb(103, 178, 105);
  font-size: .75em;
  font-weight: 700;
}

.item-4 {
  color: rgb(103, 178, 105);
  grid-column-start: 2;
  grid-column-end: 4;
  justify-self: center;
  grid-row-start: 2;
  grid-row-end: 5;
  align-self: center;
  font-weight: 700;
}

.item-5 {
  grid-column-start: 2;
  grid-column-end: 4;
  justify-self: center;
  align-self: center;
  grid-row-start: 4;
  font-size: .55em;
}

.item-6 {
  margin-top: .5em;
  grid-column-start: 1;
  grid-row-start: 5;
  align-self: center;
}

.item-7 {
  margin-top: .5em;
  grid-column-start: 2;
  grid-row-start: 5;
  align-self: center;
}

.item-8 {
  margin-top: .5em;
  grid-column-start: 3;
  grid-row-start: 5;
  align-self: center;
}

.item-9 {
  margin-top: .5em;
  grid-column-start: 4;
  grid-row-start: 5;
  align-self: center;
}

.item-10 {
  margin-top: -1em;
  grid-column-start: 1;
  grid-row-start: 7;
  font-size: .5em;
  font-weight: 700;
  color: rgb(103, 178, 105);
}

.item-11 {
  margin-top: -1em;
  grid-column-start: 2;
  grid-row-start: 7;
  font-size: .5em;
  font-weight: 700;
  color: rgb(225, 79, 79);
}

.item-12 {
  margin-top: -1em;
  grid-column-start: 3;
  grid-row-start: 7;
  font-size: .5em;
  font-weight: 700;
  color: rgb(225, 79, 79);
}

.item-13 {
  margin-top: -1em;
  grid-column-start: 4;
  grid-row-start: 7;
  font-size: .5em;
  font-weight: 700;
  color: rgb(103, 178, 105);
}

.item-14 {
  margin-top: -1em;
  grid-column-start: 1;
  grid-row-start: 8;
  font-size: .4em;
  font-weight: 600;
}

.item-15 {
  margin-top: -1em;
  grid-column-start: 2;
  grid-row-start: 8;
  font-size: .4em;
  font-weight: 600;
}

.item-16 {
  margin-top: -1em;
  grid-column-start: 3;
  grid-row-start: 8;
  font-size: .4em;
  font-weight: 600;
}

.item-17 {
  margin-top: -1em;
  grid-column-start: 4;
  grid-row-start: 8;
  font-size: .4em;
  font-weight: 600;
}

.Purchase-Price-Head {
  margin-top: .5em;
  font-weight: 700;
  font-size: .75em;
}

.Purchase-Price span {
  font-size: .75em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: .1em;
  padding-bottom: .1em;
  background-color: lightgray;
  border-bottom: solid .1em black;
}

.Purchase-Price {
  margin-bottom: .5em;
}

/*STUFF FOR Search*/

.cardSearch input[type=text] {
  color: red;
  border: 1px solid black;
  background: lightgrey;
  border-radius: 25%;
}